.contanierResults{
    color: white;
    background-color: #0F0F0F;
    width: 100%;
    height: 100%;
}

.containerResults{ //opc img back
    img{ //opc img por separado
        width: 100%;
        height: 15em;
        filter: brightness(40%);
    }
    ion-ico{
        color: #79ff79;
    }
    h3{
        margin: 0;
        text-align: center;
        font-size: 250%;
        z-index: 1;
        position: absolute;
        top: 20%;
        width: 100%;
    }
    p{
        margin: 0;
        text-align: center;
        font-size: 150%;
        z-index: 1;
        position: absolute;
        top: 50%;
        width: 100%;
    }
    position: relative;
    display: inline-block;
    text-align: center;
}