.contanierResults{
    color: white;
    background-color: #0F0F0F;
    width: 100%;
    height: 100%;
}

.resultTopicSec{ //opc img back
    width: 100%;
    height: 13em;
    background-size: 100% 100%;
    .bacTopicSec{
        width: 100%;
        height: 100%;
        background-color: #0F0F0F;
        // opacity: .5;
        background: rgba(0, 0, 0, .6); 

        h3{
            margin: 0;
            text-align: center;
            padding: .5em 0;
            font-size: 2em;
            ion-icon{
                color: #5eff5e;
            }
        }
        p{
            margin: 0;
            text-align: center;
            padding: 1em 0;
            font-size: 1.5em;
        }
        
    }

    // h3{
    //     margin: 0;
    //     text-align: center;
    //     padding: .5em 0;
    //     font-size: 2em;
    // }
    // p{
    //     margin: 0;
    //     text-align: center;
    //     padding: 1em 0;
    //     font-size: 1.5em;
    // }
}