.globalTitleContainer{
    position: fixed;
    top: 15%;
    width: 100%;
    text-align: center;
    padding: 3%;
}

.globalTitle{
    font-size: 350%;
}

.notify{
    position: fixed;
    top: 45%;
}

.descriptionNotify{
    font-size: 3em;
    color: white;
    position: absolute;
    top: -50%;
    width: 100%;
}