<!-- Generated template for the MenuXpressComponent component -->
<div class="containerMenu">
  <ul>
    <li><img class="menuSection" src="../../assets/imgs/svgs/new_card.svg" alt="addCard" (click)="availableSoon()"><br><span> Create Card</span></li>
    <li><img class="menuSection" src="../../assets/imgs/svgs/change.svg" alt="changeTopic" (click)="direcToMenuTopics()"><br><span>Change Topic</span></li>
    <li><img class="menuSection" src="../../assets/imgs/svgs/results.svg" alt="resuts" (click)="directToResuts()"><br><span>Results</span></li>
  </ul>
</div>
